@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ***********
-------------- GLOBAL CSS -------------------
*************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* colors  */

  --bg-primary-clr: #175d69;
  --bg-secondary-clr: #233857;
  --purple-clr: #3e2093;
  --red-light-clr: #f36a8d;
  --tertiary-clr: #47b2e4;
  --dark-color: #10182f;
  --white: #fff;
  --light-color-1: #f3f3f3;

  /* fonts  */

  --font-400: 400;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;
  --font-800: 800;

  /* animations and transitions  */
  --transition-1: all 0.3s ease;
  --delay-500: 500ms;
  ---delay-600: 600ms;
}

body {
  position: relative;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  max-width: 100%;
  min-width: 100%;
  /* background: var(--bg-primary-clr); */
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: rgba(23, 162, 184, 0.3);
  color: #333;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

input,
textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 4px;
  padding: 0 15px;
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
  max-width: 1600px;
}
section {
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  /* margin-bottom: 40px; */
  overflow-x: hidden;
}

/* page titles */

.title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 5px;
  margin: 20px 0 30px 50px;
}

.title-text {
  position: relative;
  font-size: 2.2em;
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.title-text::before {
  position: absolute;
  content: "";
  background: rgb(194, 83, 83);
  width: 70px;
  height: 4px;
  right: -80px;
  bottom: 17px;
}

.title h1 {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 25px;
  margin-bottom: 60px;
  color: var(--light-color-1);
  text-transform: capitalize;
}

.title h1::before {
  position: absolute;
  content: "";
  background: var(--red-light-clr);
  width: 20%;
  height: 4px;
  bottom: -10px;
}

@media (max-width: 630px) {
  .title-text {
    font-size: 1.5em;
  }

  .title h1 {
    font-size: 20px;
  }
}

/* buttons  */

.btn {
  text-decoration: none;
  color: var(--white);
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: var(--font-600);
  transition: 0.2s ease;
  display: inline-block;
  background-color: var(--tertiary-clr);
}

.hero-section .buttons a:not(:last-child) {
  margin-right: 15px;
}

.btn-secondary {
  position: relative;
  border: 1px solid var(--white);
  background: transparent;
  z-index: 1;
}
.btn-secondary::after {
  content: "";
  position: absolute;
  background: var(--tertiary-clr);
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 0.375rem;
  z-index: -1;
  transition: 0.5s;
  transition: all 300ms;
}

.btn-primary:hover {
  background-color: transparent;
  border: 1px solid var(--white);
}

.btn-secondary:hover::after {
  right: 0;
  width: 100%;
  height: 100%;
}

.primary-btn {
  color: var(--white);
  font-size: 18px;
  outline: none;
  border: none;
  padding: 15px 18px;
  border-radius: 4px;
  background: var(--purple-clr);
  cursor: pointer;
  transition: var(--transition-1);
}

.primary-btn:hover {
  background: #5029bc;
}

/************ Page Pre-loader  *************/

#pre-loader {
  background: var(--bg-primary-clr);
}

#pre-loader span:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  border: 5px solid #262626;
  border-radius: 50%;
  border-top: 5px solid transparent;
  animation: animate1 1s linear infinite;
}
#pre-loader span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border: 5px solid #262626;
  border-radius: 50%;
  border-bottom: 5px solid transparent;
  animation: animate2 1s linear infinite;
}
#pre-loader span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border: 5px solid #262626;
  border-radius: 50%;
  border-bottom: 5px solid transparent;
  animation: animate1 1s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes animate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

/* pagination   */

.pagination {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}
.pagination button.prev,
.pagination button.page-no {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--dark-color);
}
.pagination button.prev,
.pagination button.next {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.pagination svg {
  color: #000;
  height: 40px;
}
.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #007bff;
  color: var(--white);
}

.pagination button.disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
}

/************** not found page ************/

.not-found {
  background-color: #2f3242;
}
.not-found svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.not-found .message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: var(--white);
  font-family: Roboto;
  font-weight: 300;
}
.not-found .message-box h1 {
  font-size: 70px;
  line-height: 46px;
  margin-bottom: 40px;
}
.not-found .message-box p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}
.not-found .buttons-con .action-link-wrap {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.not-found .buttons-con .action-link-wrap a,
button {
  background: #68c950;
  padding: 8px 25px;
  border-radius: 4px;
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}
.not-found .buttons-con .action-link-wrap a:hover {
  background: #5a5c6c;
  color: var(--white);
}

.not-found #Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
.not-found #Polygon-2 {
  animation-delay: 0.2s;
}
.not-found #Polygon-3 {
  animation-delay: 0.4s;
}
.not-found #Polygon-4 {
  animation-delay: 0.6s;
}
.not-found #Polygon-5 {
  animation-delay: 0.8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}

@media (max-width: 450px) {
  .not-found svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .not-found .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}

/* ***********
-------------- HOME SECTION -------------------
*************/
#home {
  position: relative;
  background: var(--bg-primary-clr);
}

/* Navbar CSS */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--bg-primary-clr);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.navbar .logo a {
  font-size: 1.8rem;
  color: var(--white);
  opacity: 1;
  font-family: cursive;
}
.navbar .logo a:hover {
  color: var(--tertiary-clr);
  opacity: 0.8;
}
.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}

.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
  padding: 10px 0;
  transition: 0.2s ease;
}

.navbar .links a:hover {
  color: var(--tertiary-clr);
}

.navbar .buttons a {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  padding: 15px 0;
  transition: 0.2s ease;
}

.navbar .buttons a:not(:last-child) {
  margin-right: 30px;
}

/* Hero Section */

.hero-section {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  padding: 0 15px;
  max-width: 1600px;
  margin: 0 auto;
  background: var(--dark-color);
}

.hero-section .hero {
  max-width: 50%;
  color: var(--white);
}

.hero h2 {
  color: var(--white);
  font-family: Poppins;
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.hero h2 span {
  filter: blur(0px);
  opacity: 0;
  position: relative;
  animation: blur 500ms forwards;
  animation-delay: var(--delay-500);
}

.hero h2 span:nth-child(1) {
  animation-delay: 200ms;
}
.hero h2 span:nth-child(2) {
  animation-delay: 400ms;
}
.hero h2 span:nth-child(3) {
  animation-delay: 600ms;
}

@keyframes blur {
  0% {
    filter: blur(40px);
    opacity: 0;
    bottom: -40px;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
    bottom: 0;
  }
}

.hero h2 :where(span:hover, span:has(~ span:hover)) {
  color: var(--tertiary-clr);
}

.hero p {
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 20px;
  color: #c9c7c7;
}

.hero .buttons {
  animation-delay: var(---delay-600);
}
.hero-section .img {
  margin-top: 20px;
}

.fade-up {
  position: relative;
  animation: fade-up 700ms forwards ease-out;
  animation-delay: var(--delay-500);
  opacity: 0;
  bottom: -60px;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    bottom: -60px;
  }
  60% {
    opacity: 0.7;
    bottom: 4px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
.hero-section .img img {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: bottom;
  object-fit: cover;
  background-size: cover;
  opacity: 0.8;
  border: white 5px solid;
  transition: opacity 0.3s;
}
.hero-section .img img:hover {
  opacity: 1;
  border-color: #e7dfdf;
}

.hero-section .buttons {
  margin-top: 40px;
}

/* Hamburger menu styles */

#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: var(--white);
  cursor: pointer;
  display: none;
  order: 1;
}

@media screen and (max-width: 1023px) {
  .navbar .logo a {
    font-size: 1.5rem;
  }

  .navbar .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: var(--bg-primary-clr);
    flex-direction: column;
    transition: 0.3s ease;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  .header .buttons {
    display: none;
  }

  .hero-section .hero {
    max-width: 100%;
    text-align: center;
  }

  .hero-section .img {
    display: none;
  }
}

/* Home bottom hero */

.hero-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 100vw;
  margin: -30px auto 30px auto;
  padding: 10px 5px;
  align-items: center;
  background: url("./assets/images/bg2.jpg");
  background-position: center;
  isolation: isolate;
}
.hero-panel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-primary-clr);
  opacity: 0.7;
  filter: brightness(70%) blur(20px) saturate(120%) contrast(120%)
    hue-rotate(45deg);
  z-index: -1;
}

.hero-panel .wrapper {
  display: grid;
  margin: 0 150px auto;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1135px) {
  .hero-panel .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero-panel .wrapper .box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 350px;
  background: var(--light-color-1);
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  margin: 0 auto;
  box-shadow: 5px 2px 0px rgb(116, 116, 199);
}
@media (max-width: 750px) {
  .hero-panel .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-panel .wrapper .box {
    width: 500px;
  }
}
.hero-panel .wrapper .box:hover {
  box-shadow: none;
  background: var(--bg-primary-clr);
  opacity: 0.7;
  border: 2px solid rgb(116, 116, 199);
}
.hero-panel .wrapper .box:hover span {
  color: var(--white);
}

.hero-panel .box .icon {
  height: 80px;
}
.hero-panel .box .icon svg {
  transition: var(--transition-1);
  font-size: 65px;
  color: var(--tertiary-clr);
}
.hero-panel .wrapper .box:hover .icon svg {
  color: #2a254f;
}

.hero-panel .box span {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-panel .box .icon svg,
.hero-panel .box span {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 630px) {
  .hero-panel .wrapper {
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    padding: 0 5px;
  }
  .hero-panel .wrapper .box {
    width: 100%;
  }
  .hero-panel .box .icon {
    height: 50px;
  }
  .hero-panel .box .icon svg {
    font-size: 40px;
  }
  .hero-panel .box span {
    font-size: 18px;
  }
}

/* ***********
-------------- HOME SECTION -------------------
************* ABOUT US ************************
*************/

#aboutUs {
  position: relative;
  margin-bottom: 30px;
  background: var(--bg-secondary-clr);
}

/* curve */

.custom-shape-divider-top-1715737662 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(360deg);
}

.custom-shape-divider-top-1715737662 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 104px;
  outline: none;
  border: none;
}

.custom-shape-divider-top-1715737662 .shape-fill {
  fill: var(--bg-primary-clr);
}
#aboutUs .container .about-wrapper {
  position: relative;
  display: grid;
  margin-top: 120px;
  grid-template-columns: repeat(2, 1fr);
}

#aboutUs .container .about-left-content {
  position: relative;
  isolation: isolate;
  height: 100%;
  margin-bottom: -6px;
  overflow: hidden;
}

#aboutUs .container :where(.about-left-content, .about-col-2) img {
  position: relative;
  height: 480px;
  width: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}
#aboutUs .about-col-2 .img {
  position: relative;
}
#aboutUs .about-col-2 .img img {
  opacity: 1;
}

#aboutUs .about-col-2 .img::before,
#aboutUs .about-left .img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #007bff;
  opacity: 0.3;
  filter: contrast(0.5) brightness(70%);
  z-index: 1;
}
#aboutUs .about-col-2 .img::before {
  bottom: 10px;
}
#aboutUs .container .about-left-content .icons {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
  width: 100%;
  background: var(--white);
  padding: 0.8rem 0;
  opacity: 0.5;
  filter: drop-shadow(0.75rem 0 0 #fbf8f8);
}

#aboutUs .container .about-left-content .icons li {
  list-style-type: none;
  background: var(--red-light-clr);
  color: var(--white);
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#aboutUs .container .about-left-content .icons li:hover {
  background: #edffec;
  color: #000;
}

/********* about content right  ***********/

#aboutUs .container .about-right {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
#aboutUs .container .about-right .title {
  margin-top: 20px;
}
#aboutUs .container .about-right h1 {
  position: relative;
  font-size: 2.5rem;
  color: var(--dark-color);
}
#aboutUs .container .about-right .title h1::before {
  bottom: -5px;
}

.about-right .about-text,
#aboutUs .about-col-2 .about-left .about-text {
  position: relative;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: var(--font-500);
  line-height: 28px;
  color: var(--dark-color);
}

#aboutUs .container .about-col-2 {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#aboutUs .container .about-col-2 :where(.about-left, .about-right) {
  flex: 0 0 50%;
  width: 50%;
  height: 100%;
}

#aboutUs .about-col-2 .about-left {
  height: 480px;
  background: #d0eeff;
}

#aboutUs .about-col-2 .about-left .title h1 {
  margin-top: 30px;
  color: var(--dark-color);
}

@media screen and (max-width: 899px) {
  #aboutUs .container .about-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  #aboutUs .container {
    margin: 0;
    padding: 0 10px;
  }

  #aboutUs .container .about-col-2 {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }

  #aboutUs .container .about-col-2 :where(.about-left, .about-right) {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
  }
}

/* motto, vision, mission, code of practice */

.about-info {
  position: relative;
  margin: 30px 0;
  padding: 20px 0;
}

.about-info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #007bff;
  opacity: 0.3;
  filter: blur(30px);
}

.about-info .wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 15px 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 899px) {
  .about-info .wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}

@media screen and (max-width: 700px) {
  .about-info .wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
}

.about-info .wrapper .item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  margin: 0 auto;
  background: var(--dark-color);
  box-shadow: 0px 2px 2px 0px #fff;
  transition: all 0.5s ease;
}
.about-info .wrapper .item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background: #007bff;
  opacity: 0.3;
  filter: blur(30px);
  transition: var(--transition-1);
}

.about-info .wrapper .item:hover::before {
  height: 100%;
  filter: blur(0px);
}

.about-info .wrapper .item h2 {
  position: absolute;
  top: -23px;
  display: flex;
  align-items: center;
  color: var(--light-color-1);
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding: 10px 15px;
  background: var(--tertiary-clr);
  outline: none;
}
.about-info .wrapper .item p {
  font-size: 0.9rem;
  color: var(--light-color-1);
  text-align: center;
  line-height: 1.4;
  padding: 5px;
}

/******** Company Values style ********/

.about-values {
  /* padding: 5px 10px; */
  background: var(--bg-primary-clr);
  margin-top: -15px;
}
.about-values .list-container .title h1 {
  position: relative;
  margin-left: 20px;
  font-size: 1.3rem;
  font-family: cursive;
  text-transform: capitalize;
  color: var(--light-color-1);
}

.about-values .list-container .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 630px) {
  .about-values .list-container .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-info .wrapper .item {
    width: 100%;
  }
}
.about-values .list-container .wrapper .list-item {
  background: #2f4f4f;
}
.list-item .heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list-item .heading .number {
  padding: 0.5rem 1rem;
  background-color: var(--red-light-clr);
  color: white;
  border-radius: 9999px;
}

.list-item .heading .title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--light-color-1);
}

.list-item .content .description {
  padding: 12px 0;
  font-size: 1rem;
  color: #718096;
  text-align: start;
}

@media (min-width: 768px) {
  .list-item {
    flex-direction: row;
    gap: 1.5rem;
  }
  .list-item .content .title {
    display: block;
  }
}

.list-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.list-item {
  flex: 0 0 48%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: var(--transition-1);
}

.list-item:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px rgba(204, 201, 201, 0.2);
}

/* ***********
-------------- HOME SECTION -------------------
************* SERVICES US ************************
*************/

#services {
  margin-top: 35px;
}

#services .container {
  width: 95%;
}

#services .container .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

#services .container .item {
  background: #edffec;
  width: calc(33.33% - 10px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  padding: 2px;
}

@media screen and (max-width: 899px) {
  #services .container .item {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 600px) {
  #services .container .item,
  #services .container {
    width: 100%;
    padding: 5px;
  }
}

#services .container .item .thumbnail img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
  transition: 0.3s all ease;
}
#services .container .item .thumbnail img:hover {
  opacity: 0.8;
}

#services .container .item .text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
#services .container .item .text h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 15px;
  text-transform: capitalize;
}
#services .container .item .text p {
  font-size: 0.855rem;
  line-height: 1.6;
}

#services .search input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  box-shadow: "0px 0px 15px rgba(0, 0, 0, 0.1)";
}

#services .container .no-service {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 70%;
  background: var(--light-color-1);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 40px auto auto;
}

/*************** Testimonial section *******************/

.testimonial {
  margin-top: 60px;
}

.testimonial .wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.testimonial .wrapper .box {
  background: var(--white);
  padding: 25px;
  border-radius: 3px;
}
.testimonial .wrapper .box svg.quote {
  font-size: 20px;
  color: #17a2b8;
}

.testimonial .wrapper .box p {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 10px;
  font-weight: 500;
}

.testimonial .wrapper .box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

.testimonial .box .info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.testimonial .box .info .name {
  font-size: 17px;
  font-weight: 600;
  color: #17a2b8;
  margin-bottom: 10px;
}

.testimonial .box .info .stars svg {
  color: #17a2b8;
}
.testimonial .box .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
.testimonial .content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--white);
}
.testimonial .box:hover .content .image img {
  border-color: var(--white);
}

@media (max-width: 1045px) {
  .testimonial .wrapper .box {
    /* width: calc(50% - 10px); */
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .testimonial .wrapper .box {
    width: 100%;
  }
}

/* ***********
-------------- HOME SECTION -------------------
************* CONTACT US ************************
*************/

#contact {
  background: #666983;
}

#contact .container {
  width: 90%;
}

#contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact .content .left-side {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 15px;
  background: #2f4f4f;
}

#contact .left-side::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

#contact .content .left-side .details {
  display: flex;
  width: 100%;
  margin: 20px;
  gap: 20px;
}

#contact .content .left-side .details .icon {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#contact .content .left-side .details svg {
  font-size: 35px;
  color: var(--purple-clr);
}

#contact .content .left-side .info {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: self-start;
  padding: 10px;
  color: #afafb6;
}
#contact .content .left-side .info .topic {
  font-size: 18px;
  font-weight: 500;
  color: var(--red-light-clr);
  margin-bottom: 5px;
}

/* lef side address tabs  */

.tabs {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  transition: var(--transition-1);
  justify-content: center;
}

.tabs div {
  position: relative;
  display: flex;
  flex-basis: 30.33%;
  padding: 10px;
  cursor: pointer;
  background: #2f4f4f;
  color: var(--light-color-1);
  margin-top: 8px;
  background: #007bff;
  transition: var(--transition-1);
}

.tabs div:hover {
  cursor: pointer;
  opacity: 0.8;
}

.tabs div.active {
  background: var(--red-light-clr);
  color: var(--light-color-1);
}

#contact .right-side {
  width: 75%;
  margin-left: 55px;
}
#contact .right-side .contact-form .topic-text {
  font-size: 25px;
  font-weight: 700;
  color: var(--purple-clr);
  text-transform: uppercase;
  margin-bottom: 15px;
}

#contact .right-side .contact-form .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}

#contact .right-side .contact-form .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

/* social media icons  */

.social-media-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 30px 0;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.social-media-icons h1 {
  position: relative;
  color: #f0f1f8;
  font-size: 16px;
  text-transform: uppercase;
}

.social-media-icons .wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.social-media-icons .wrapper .button {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: var(--light-color-1);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: var(--transition-1);
}

.social-media-icons .wrapper .button:hover {
  width: 200px;
}

.social-media-icons .wrapper .button .icon {
  display: flex;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: var(--transition-1);
}
.social-media-icons .wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}
.social-media-icons .wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}
.social-media-icons .wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}
.social-media-icons .wrapper .button:nth-child(4):hover .icon {
  background: #333;
}
.social-media-icons .wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.social-media-icons .wrapper .button .icon svg {
  font-size: 25px;
  line-height: 60px;
  transition: var(--transition-1);
  margin: auto;
}
.social-media-icons .wrapper .button:hover .icon svg {
  color: var(--white);
  margin-left: 0;
}

.social-media-icons .wrapper .button:hover .icon svg {
  margin-left: 15px;
}
.social-media-icons .wrapper .button span {
  display: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: var(--transition-1);
}
.social-media-icons .wrapper .button:hover span {
  display: block;
}
.social-media-icons .wrapper .button:nth-child(1) span {
  color: #4267b2;
}
.social-media-icons .wrapper .button:nth-child(2) span {
  color: #1da1f2;
}
.social-media-icons .wrapper .button:nth-child(3) span {
  color: #e1306c;
}
.social-media-icons .wrapper .button:nth-child(4) span {
  color: #333;
}
.social-media-icons .wrapper .button:nth-child(5) span {
  color: #ff0000;
}

@media (max-width: 820px) {
  #contact .container {
    width: 100%;
    padding: 5px;
  }

  #contact .right-side {
    margin-left: 0;
    width: 100%;
    margin-bottom: 35px;
  }
  #contact .container .content {
    flex-direction: column;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }

  .tabs {
    justify-content: start;
  }
}

@media (max-width: 630px) {
  .right-side .button {
    display: flex;
  }
}

/* ***********
-------------- PRICING SECTION -------------------
*************/

.pricing .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.pricing .wrapper .table {
  background: var(--white);
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.table .price-section {
  display: flex;
  justify-content: center;
}
.table .price-area {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}
.price-area .inner-area {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--white);
  line-height: 117px;
  text-align: center;
  color: var(--white);
  position: relative;
}
.price-area .inner-area .text {
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
}
.price-area .inner-area .price {
  font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
}
.table .package-name {
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}
.table .package-name::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background: var(--white);
  padding: 0 15px;
  transform: translate(-50%, -50%);
}
.table .features li {
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name {
  font-size: 17px;
  font-weight: 400;
}
.features li .icon {
  font-size: 15px;
}
.features li .icon.check {
  color: #2db94d;
}
.features li .icon.cross {
  color: #cd3241;
}
.table .btn {
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.table .btn button {
  width: 80%;
  height: 50px;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: var(--transition-1);
}
.table .btn button:hover {
  border-radius: 5px;
}
.basic .features li::selection {
  background: #ffd861;
}
.basic ::selection,
.basic .price-area,
.basic .inner-area {
  background: #ffd861;
}
.basic .btn button {
  border: 2px solid #ffd861;
  background: var(--white);
  color: #ffd861;
}
.basic .btn button:hover {
  background: #ffd861;
  color: var(--white);
}
.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .btn button {
  background: #a26bfa;
}
.premium .btn button:hover {
  background: #833af8;
}
.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area {
  background: #43ef8b;
}
.ultimate .btn button {
  border: 2px solid #43ef8b;
  color: #43ef8b;
  background: var(--white);
}
.ultimate .btn button:hover {
  background: #43ef8b;
  color: var(--white);
}
.basic .package-name {
  background: #ffecb3;
}
.premium .package-name {
  background: #d0b3ff;
}
.ultimate .package-name {
  background: #baf8d4;
}
.basic .package-name::before {
  content: "Basic";
}
.premium .package-name::before {
  content: "Premium";
  font-size: 24px;
}
.ultimate .package-name::before {
  content: "Ultimate";
  font-size: 24px;
}
@media (max-width: 1020px) {
  .pricing .wrapper .table {
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
@media (max-width: 698px) {
  .pricing .wrapper .table {
    width: 100%;
  }
}
::selection {
  color: var(--white);
}
.table .ribbon {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after {
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #4606ac;
  border-top-color: transparent;
  border-left-color: transparent;
}
.table .ribbon::before {
  top: 0px;
  right: 15px;
}
.table .ribbon::after {
  bottom: 15px;
  left: 0px;
}
.table .ribbon span {
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #a26bfa;
  padding: 10px 0;
  color: var(--white);
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button.disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
}

/* ***********
-------------- FOOTER SECTION -------------------
*************/

footer {
  position: relative;
  width: 100%;
  background: var(--dark-color);
  isolation: isolate;
}
.custom-shape-divider-bottom-1715724372 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-bottom-1715724372 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1715724372 .shape-fill {
  fill: #101d45;
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: var(--white);
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: var(--white);
  color: var(--white);
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button {
  background: var(--white);
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover {
  color: var(--white);
}

.powered-by {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.powered-by span:nth-child(1) {
  color: var(--light-color-1);
}

.powered-by span:nth-child(2) {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}

.scrollToTop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  padding: 5px;
  bottom: 40px;
  right: 20px;
  background: #000;
  color: var(--white);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(80px);
  transition: var(--transition-1);
}

.scrollToTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scrollToTop:hover {
  background: #333;
}

/* ***********
-------------- SINGLE PAGE SECTION -------------------
*************/

.single-page-header {
  position: relative;
  top: 0;
  width: 100%;
  height: 200px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  transition: var(--transition-1);
  background: url("/img-1.jpg");
  background-position: center;
  transition: var(--transition-1);
  opacity: 0.9;
}
.single-page-header::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--bg-primary-clr);
  bottom: 0;
  top: 0;
  margin: auto;
  opacity: 0.2;
  z-index: -99;
}
.single-page-header .wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.single-page-header .wrapper .title {
  position: relative;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--white);
}
.single-page-header .wrapper .title::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: #f0f1f8;
  bottom: 0;
  top: 0;
  margin: auto;
  opacity: 0.4;
  z-index: -1;
}

.single-page-main {
  position: relative;
}

.single-page-nav {
  position: relative;
  display: flex;
  width: 90%;
  align-items: baseline;
  left: 0;
  padding: 20px 30px;
  bottom: 10px;
  margin: 0 auto;
  background: #f0f0f0;
  transition: var(--transition-1);
}

.single-page-nav.fixed {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: baseline;
  left: 0;
  padding: 20px 30px;
  margin: 0 auto;
  background: #f0f0f0;
  top: 0;
  height: 70px;
  z-index: 9999;
}

.single-page-nav .home-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-page-nav .home-link svg {
  height: 25px;
  color: #4f1ade;
  margin-bottom: -6px;
  font-weight: 700;
}

.single-page-nav .current-page {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 15px;
}

.single-page-nav a {
  color: red;
  font-weight: 700;
  font-size: 15px;
}

.map {
  margin-bottom: 20px;
}
