@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* ***********
-------------- GLOBAL CSS -------------------
*************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  min-width: 100%;
  background: #175d69;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

input,
textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 4px;
  padding: 0 15px;
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
  max-width: 1600px;
}
section {
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  margin-bottom: 40px;
  overflow-x: hidden;
}

/* Home section  page title */

.title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 5px;
  margin: 20px 0 30px 50px;
}

.title-text {
  position: relative;
  font-size: 2.2em;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.title-text::before {
  position: absolute;
  content: "";
  background: rgb(194, 83, 83);
  width: 70px;
  height: 4px;
  right: -80px;
  bottom: 17px;
}

@media (max-width: 600px) {
  .title-text {
    font-size: 1.5em;
  }
}

.primary-btn {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 15px 18px;
  border-radius: 4px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-btn:hover {
  background: #5029bc;
}

/* ***********
-------------- HOME SECTION -------------------
*************/
#home {
  background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
}

/* Navbar CSS */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #175d69;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.navbar .logo a {
  font-size: 1.8rem;
  color: #fff;
  opacity: 1;
  font-family: cursive;
}
.navbar .logo a:hover {
  color: #47b2e4;
  opacity: 0.8;
}
.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}

.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  transition: 0.2s ease;
}

.navbar .links a:hover {
  color: #47b2e4;
}

.navbar .buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 15px 0;
  transition: 0.2s ease;
}

.navbar .buttons a:not(:last-child) {
  margin-right: 30px;
}

.navbar .buttons .signin:hover {
  color: #47b2e4;
}

.navbar .buttons .signup {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.2s ease;
}

.navbar .buttons .signup:hover {
  background-color: #47b2e4;
  color: #fff;
}

/* Hero Section */

.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  padding: 0 15px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-section .hero {
  max-width: 50%;
  color: #fff;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  line-height: 30px;
  margin-bottom: 20px;
  color: #c9c7c7;
}

.hero-section .img img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  opacity: 0.8;
  border: white 5px solid;
  transition: opacity, 0.3s;
}
.hero-section .img img:hover {
  opacity: 1;
  border-color: #e7dfdf;
}

.hero-section .buttons {
  margin-top: 40px;
}

.hero-section .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease;
  display: inline-block;
}

.hero-section .buttons a:not(:last-child) {
  margin-right: 15px;
}

.buttons .join {
  background-color: #47b2e4;
}

.hero-section .buttons .learn {
  border: 1px solid #fff;
  border-radius: 0.375rem;
}

.hero-section .buttons a:hover {
  background-color: #47b2e4;
}

/* Hamburger menu styles */

#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  order: 1;
}

@media screen and (max-width: 1023px) {
  .navbar .logo a {
    font-size: 1.5rem;
  }

  .navbar .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: #175d69;
    flex-direction: column;
    transition: 0.3s ease;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  .header .buttons {
    display: none;
  }

  .hero-section .hero {
    max-width: 100%;
    text-align: center;
  }

  .swipperContainer {
    display: none;
  }
}

/* Home bottom hero */

.hero-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: -30px auto 30px auto;
  padding: 10px 5px;
  align-items: center;
  background: url("./assets/images/bg2.jpg");
  background-position: center;
}
.hero-panel .wrapper {
  display: grid;
  margin: 0 150px auto;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1135px) {
  .hero-panel .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero-panel .wrapper .box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 350px;
  background: #f3f3f3;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  margin: 0 auto;
  box-shadow: 5px 2px 0px rgb(116, 116, 199);
}
@media (max-width: 750px) {
  .hero-panel .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-panel .wrapper .box {
    width: 500px;
  }
}
.hero-panel .wrapper .box:hover {
  box-shadow: none;
  background: #dfd5d5;
  border: 2px solid rgb(116, 116, 199);
}

.hero-panel .box .icon {
  height: 80px;
}
.hero-panel .box .icon svg {
  font-size: 65px;
  color: #47b2e4;
}
.hero-panel .wrapper .box:hover .icon svg {
  color: #2a254f;
}

.hero-panel .box span {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-panel .box .icon svg,
.hero-panel .box span {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 630px) {
  .hero-panel .wrapper {
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    padding: 0 5px;
  }
  .hero-panel .wrapper .box {
    width: 100%;
  }
  .hero-panel .box .icon {
    height: 50px;
  }
  .hero-panel .box .icon svg {
    font-size: 40px;
  }
  .hero-panel .box span {
    font-size: 18px;
  }
}

/* ***********
-------------- HOME SECTION -------------------
************* ABOUT US ************************
*************/

#aboutUs {
  margin-bottom: 30px;
  background: linear-gradient(
    to top,
    rgba(46, 49, 65, 0.8),
    rgba(31, 31, 35, 0.8)
  );
}

#aboutUs .container .about-left {
  background: #233857;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#aboutUs .container .about-left-content > div {
  height: 600px;
  width: 500px;
  background-image: url("../src/assets/images/bg2.jpg");
  background-position: center;
  background-size: cover;
}
#aboutUs .container .about-left-content {
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}

#aboutUs .container .about-left-content .icons {
  background: #233857;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
}
#aboutUs .container .about-left-content .icons li {
  list-style-type: none;
  background: #f36a8d;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#aboutUs .container .about-left-content .icons li:hover {
  background: #edffec;
  color: #000;
}

/********* about content right  ***********/

#aboutUs .container .about-right {
  background: #175d69;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 992px) {
  #aboutUs .container {
    margin: 0;
    padding: 0;
  }
  #aboutUs .container .about-right {
    padding: 5px;
  }
}

#aboutUs .container .about-right .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.about-right .about-text {
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  text-align: center;
  border-left: 5px solid rgb(71, 128, 71);
  padding: 20px 10px;
  font-size: 1em;
  line-height: 2.6;
  color: #f3f3f3;
  background: #2f4f4f;
  box-shadow: 2px 3px 0 #7e7e7e;
  margin-left: -30px;
  z-index: 10;
}

.about-info {
  margin-top: 30px;
  background: linear-gradient(to left, #175d69 40%, #317a87 75%);
  padding: 20px 0;
}
.about-info .wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 15px 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 899px) {
  .about-info .wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}

@media screen and (max-width: 700px) {
  .about-info .wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
}

.about-info .wrapper .item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  margin: 0 auto;
  background: #2f4f4f;
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}

.about-info .wrapper .item:hover {
  background: #699198;
  border-bottom: 5px solid rgb(71, 128, 71);
}

.about-info .wrapper .item h2 {
  position: absolute;
  top: -23px;
  display: flex;
  align-items: center;
  color: #f3f3f3;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding: 10px 15px;
  background: #47b2e4;
  outline: none;
}
.about-info .wrapper .item p {
  font-size: 0.9rem;
  color: #f3f3f3;
  text-align: center;
  line-height: 2.3;
}

@media screen and (max-width: 991px) {
  #aboutUs .container .about-left-content {
    width: 100%;
    padding: 0 10px;
  }
  #aboutUs .container .about-right {
    width: 100%;
  }
  #aboutUs .container .about-left-content > div {
    width: 100%;
    padding: 0 20px;
  }
  #aboutUs .container .about-right .text-container {
    margin: 0;
  }
  #aboutUs .container .about-text {
    margin-left: 0;
    border: none;
  }
}

@media screen and (min-width: 992px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-left {
    position: relative;
  }
  .about-left-content {
    position: absolute;
    right: -50px;
  }
  #aboutUs .container .about-right {
    padding-left: 4rem;
  }
}

/******** Company Values style ********/

.about-values {
  padding: 5px 10px;
  background: #175d69;
  margin-top: -15px;
}
.about-values .list-container .title h1 {
  position: relative;
  margin-left: 20px;
  font-size: 1.3rem;
  font-family: cursive;
  text-transform: capitalize;
  color: #f3f3f3;
}

.about-values .list-container .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 630px) {
  .about-values .list-container .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.about-values .list-container .wrapper .list-item {
  background: #2f4f4f;
}
.list-item .heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list-item .heading .number {
  padding: 0.5rem 1rem;
  background-color: #f56565;
  color: white;
  border-radius: 9999px;
}

.list-item .heading .title {
  font-size: 1rem;
  font-weight: bold;
  color: #f3f3f3;
}

.list-item .content .description {
  padding: 12px 0;
  font-size: 1rem;
  color: #718096;
}

@media (min-width: 768px) {
  .list-item {
    flex-direction: row;
    gap: 1.5rem;
  }
  .list-item .content .title {
    display: block;
  }
}

.list-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.list-item {
  flex: 0 0 48%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.list-item:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px rgba(204, 201, 201, 0.2);
}

/* ***********
-------------- HOME SECTION -------------------
************* SERVICES US ************************
*************/

#services {
  margin-top: 35px;
}

#services .container {
  width: 95%;
}

#services .container .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

#services .container .item {
  background: #edffec;
  width: calc(33.33% - 10px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  padding: 2px;
}

@media screen and (max-width: 899px) {
  #services .container .item {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 600px) {
  #services .container .item,
  #services .container {
    width: 100%;
    padding: 5px;
  }
}

#services .container .item .thumbnail img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
  transition: 0.3s all ease;
}
#services .container .item .thumbnail img:hover {
  opacity: 0.8;
}

#services .container .item .text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
#services .container .item .text h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 15px;
  text-transform: capitalize;
}
#services .container .item .text p {
  font-size: 0.855rem;
  line-height: 1.6;
}

#services .search input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  box-shadow: "0px 0px 15px rgba(0, 0, 0, 0.1)";
}

#services .container .no-service {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 70%;
  background: #f3f3f3;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 40px auto auto;
}

/* ***********
-------------- HOME SECTION -------------------
************* CONTACT US ************************
*************/

#contact {
  background: #666983;
}

#contact .container {
  width: 90%;
}

#contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact .content .left-side {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 15px;
  background: #2f4f4f;
}

#contact .left-side::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

#contact .content .left-side .details {
  display: flex;
  width: 100%;
  margin: 20px;
  gap: 20px;
}

#contact .content .left-side .details .icon {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#contact .content .left-side .details svg {
  font-size: 35px;
  color: #3e2093;
}

#contact .content .left-side .info {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: self-start;
  padding: 10px;
  color: #afafb6;
}
#contact .content .left-side .info .topic {
  font-size: 18px;
  font-weight: 500;
  color: #f36a8d;
  margin-bottom: 5px;
}

#contact .right-side {
  width: 75%;
  margin-left: 55px;
}
#contact .right-side .contact-form .topic-text {
  font-size: 25px;
  font-weight: 700;
  color: #3e2093;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#contact .right-side .contact-form .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}

#contact .right-side .contact-form .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

/* social media icons  */


.social-media-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 30px 0;
  gap: 10px;
  height: 100%;
  width: 100%;
  
}

.social-media-icons h1 {
  position: relative;
  color: #f0f1f8;
  font-size: 20px;
  font-family: cursive;
  text-transform: uppercase;
}

.social-media-icons .wrapper{
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.social-media-icons .wrapper .button {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #f3f3f3;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.social-media-icons .wrapper .button:hover {
  width: 200px;
}


.social-media-icons .wrapper .button .icon {
  display: flex;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.social-media-icons .wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}
.social-media-icons .wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}
.social-media-icons .wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}
.social-media-icons .wrapper .button:nth-child(4):hover .icon {
  background: #333;
}
.social-media-icons .wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.social-media-icons .wrapper .button .icon svg {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
 margin: auto;
}
.social-media-icons .wrapper .button:hover .icon svg {
  color: #fff;
  margin-left: 0;
}

.social-media-icons .wrapper .button:hover .icon svg{
  margin-left: 15px;
}
.social-media-icons .wrapper .button span {
  display: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.social-media-icons .wrapper .button:hover  span{
display: block;
}
.social-media-icons .wrapper .button:nth-child(1) span {
  color: #4267b2;
}
.social-media-icons .wrapper .button:nth-child(2) span {
  color: #1da1f2;
}
.social-media-icons .wrapper .button:nth-child(3) span {
  color: #e1306c;
}
.social-media-icons .wrapper .button:nth-child(4) span {
  color: #333;
}
.social-media-icons .wrapper .button:nth-child(5) span {
  color: #ff0000;
}

@media (max-width: 820px) {
  #contact .container {
    width: 100%;
  }

  #contact .right-side {
    margin-left: 0;
    width: 100%;
    margin-bottom: 35px;
  }
  #contact .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 630px) {
  .right-side .button {
    display: flex;
  }
}

/* ***********
-------------- PRICING SECTION -------------------
*************/

.pricing .wrapper{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pricing .wrapper .table{
  background: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.table .price-section{
  display: flex;
  justify-content: center;
}
.table .price-area{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}
.price-area .inner-area{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  line-height: 117px;
  text-align: center;
  color: #fff;
  position: relative;
}
.price-area .inner-area .text{
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
}
.price-area .inner-area .price{
  font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
}
.table .package-name{
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}
.table .package-name::before{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}
.table .features li{
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name{
  font-size: 17px;
  font-weight: 400;
}
.features li .icon{
  font-size: 15px;
}
.features li .icon.check{
  color: #2db94d;
}
.features li .icon.cross{
  color: #cd3241;
}
.table .btn{
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.table .btn button{
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table .btn button:hover{
  border-radius: 5px;
}
.basic .features li::selection{
  background: #ffd861;
}
.basic ::selection,
.basic .price-area,
.basic .inner-area{
  background: #ffd861;
}
.basic .btn button{
  border: 2px solid #ffd861;
  background: #fff;
  color: #ffd861;
}
.basic .btn button:hover{
  background: #ffd861;
  color: #fff;
}
.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .btn button{
  background: #a26bfa;
}
.premium .btn button:hover{
  background: #833af8;
}
.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area{
  background: #43ef8b;
}
.ultimate .btn button{
  border: 2px solid #43ef8b;
  color: #43ef8b;
  background: #fff;
}
.ultimate .btn button:hover{
  background: #43ef8b;
  color: #fff;
}
.basic .package-name{
  background: #ffecb3;
}
.premium .package-name{
  background: #d0b3ff;
}
.ultimate .package-name{
  background: #baf8d4;
}
.basic .package-name::before{
  content: "Basic";
}
.premium .package-name::before{
  content: "Premium";
  font-size: 24px;
}
.ultimate .package-name::before{
  content: "Ultimate";
  font-size: 24px;
}
@media (max-width: 1020px) {
  .wrapper .table{
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
@media (max-width: 698px) {
  .wrapper .table{
    width: 100%;
  }
}
::selection{
  color: #fff;
}
.table .ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after{
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #4606ac;
  border-top-color: transparent;
  border-left-color: transparent;
}
.table .ribbon::before{
  top: 0px;
  right: 15px;
}
.table .ribbon::after{
  bottom: 15px;
  left: 0px;
}
.table .ribbon span{
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #a26bfa;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}


/* ***********
-------------- FOOTER SECTION -------------------
*************/

footer {
  position: relative;
  width: 100%;
  background: #10182f;
}

footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover {
  color: #fff;
}

.powered-by{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.powered-by span:nth-child(1){
  color: #f3f3f3;
}

.powered-by span:nth-child(2){
  text-transform: capitalize;
}


@media (max-width: 768px) {
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}
